body{
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


.product-box{
   border: 3px solid black;
   background-color: white;
   height: 600px;
   width: 30cm;
 margin: auto;
 border-radius: 5px;
   
}
.price{
  color: red;
  font-size: large;
}
.button{
    color: white;
    background-color: blue;
    height: 40px;;
    width:150px;
    border-radius: 5px;
    margin-bottom: 1cm;
}
.img{
    height: 400px;
    width: auto;
    margin-top: 10px;
}