* {
    box-sizing: border-box;
 
}
body{
    background-color:rgba(211,211, 211, 0.2);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
}
h4{
    color: green;
    font-size: larger;
}
button{
    background-color: #007bff;
    color: white;
    height: 45px;
    width: 120px;
    border-radius: 6px;
    font-size: larger;

}
h1{
    text-align: center;
}
h3{
    font-size: larger;
}